Repository m0dh4x/velacms: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{ts,tsx,js,jsx,vue,json}"
      run: oxfmt {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{ts,tsx,js,jsx,vue}"
      run: oxlint {staged_files}

chore(db): add tsconfig json
  packages/auth/tsconfig.json
Due: format

chore: format
  bun.lock
  lefthook.yml
  packages/auth/package.json
  packages/auth/src/client.ts
  packages/auth/src/index.ts
  packages/db/src/index.ts
  packages/db/src/migrate/runner.test.ts
  packages/db/src/migrate/runner.ts
Due: format, lint

docs: format
  docs/db-architecture.md
Due: none

docs(db): update user better auth and roles tables - add change user, session, account and verification table to fit into better-auth needs - add harbor roles and harbor members
  docs/db-architecture.md
Due: none

feat(db): add harbor and org users tables
  packages/db/migrations/20260119172646_harbor_and_org_users.ts
Due: format, lint

feat(db): add simple seed function - create admin user
  packages/db/src/seeds.ts
Due: format, lint

chore: format
  docs/db-architecture.md
  lefthook.yml
Due: none

fix(db): change tables auth from snake_case to camelCase - to fit to better auth schema - add migration for renaming columns - change db docs
  docs/db-architecture.md
  packages/db/migrations/20260119214835_better_auth_camelcase.ts
  packages/db/package.json
Due: format, lint

feat(db): change db path from relative to absolut
  packages/db/src/index.ts
Due: format, lint

refactor(user): create user via better-auth signup - chnage seeeding file
  bun.lock
  package.json
  packages/db/package.json
  packages/db/src/seeds.ts
Due: format, lint

chore(auth): allow better-auth create session cookie
  packages/auth/src/index.ts
Due: format, lint

chore(auth): add baseurl to allow cross origin request -between frontend and api
  packages/auth/src/client.ts
Due: format, lint

chore: update package json
  bun.lock
Due: none

feat(api): add cors to hono to allow cross origin req
  apps/api/src/index.ts
Due: format, lint

chore(api): format package.json
  apps/api/package.json
Due: format

feat(router): add vue router - basic login route - basic dashboard route
  apps/admin/index.html
  apps/admin/package.json
  apps/admin/src/App.vue
  apps/admin/src/index.ts
  apps/admin/src/main.ts
  apps/admin/src/router/index.ts
Due: format, lint

feat(admin): add simple dashboard and login view
  apps/admin/src/views/Dashboard.vue
  apps/admin/src/views/LoginView.vue
Due: format, lint

chore(admin): add tsconfigs
  apps/admin/tsconfig.app.json
  apps/admin/tsconfig.json
  apps/admin/tsconfig.node.json
  apps/admin/vite.config.ts
Due: format, lint

feat(api): add tsconfig
  apps/api/tsconfig.json
Due: format

chore: add shadcn vue for admin components
  apps/admin/package.json
  apps/admin/tsconfig.app.json
  apps/admin/tsconfig.json
  apps/admin/vite.config.ts
  bun.lock
Due: format, lint

chore: add tailwind merge util
  apps/admin/src/lib/utils.ts
Due: format, lint

chore: add shadcn component config
  apps/admin/components.json
Due: format

feat(admin): add shadcn-vue ui components - field - card - input - button
  apps/admin/src/components/ui/button/Button.vue
  apps/admin/src/components/ui/button/index.ts
  apps/admin/src/components/ui/card/Card.vue
  apps/admin/src/components/ui/card/CardAction.vue
  apps/admin/src/components/ui/card/CardContent.vue
  apps/admin/src/components/ui/card/CardDescription.vue
  apps/admin/src/components/ui/card/CardFooter.vue
  apps/admin/src/components/ui/card/CardHeader.vue
  apps/admin/src/components/ui/card/CardTitle.vue
  apps/admin/src/components/ui/card/index.ts
  apps/admin/src/components/ui/field/Field.vue
  apps/admin/src/components/ui/field/FieldContent.vue
  apps/admin/src/components/ui/field/FieldDescription.vue
  apps/admin/src/components/ui/field/FieldError.vue
  apps/admin/src/components/ui/field/FieldGroup.vue
  apps/admin/src/components/ui/field/FieldLabel.vue
  apps/admin/src/components/ui/field/FieldLegend.vue
  apps/admin/src/components/ui/field/FieldSeparator.vue
  apps/admin/src/components/ui/field/FieldSet.vue
  apps/admin/src/components/ui/field/FieldTitle.vue
  apps/admin/src/components/ui/field/index.ts
  apps/admin/src/components/ui/input/Input.vue
  apps/admin/src/components/ui/input/index.ts
Due: format, lint

fix(ui): fix field lint warnings
  apps/admin/src/components/ui/field/FieldDescription.vue
  apps/admin/src/components/ui/field/FieldGroup.vue
  apps/admin/src/components/ui/field/FieldLabel.vue
Due: format, lint

refactor(admin): remove tailwindcss, shadcn and radix ui - replace with rekaui - write custom css
  apps/admin/package.json
  apps/admin/src/components/ui/button/Button.vue
  apps/admin/src/components/ui/button/index.ts
  apps/admin/src/components/ui/card/Card.vue
  apps/admin/src/components/ui/card/CardAction.vue
  apps/admin/src/components/ui/card/CardContent.vue
  apps/admin/src/components/ui/card/CardDescription.vue
  apps/admin/src/components/ui/card/CardFooter.vue
  apps/admin/src/components/ui/card/CardHeader.vue
  apps/admin/src/components/ui/card/CardTitle.vue
  apps/admin/src/components/ui/card/index.ts
  apps/admin/src/components/ui/field/Field.vue
  apps/admin/src/components/ui/field/FieldContent.vue
  apps/admin/src/components/ui/field/FieldDescription.vue
  apps/admin/src/components/ui/field/FieldError.vue
  apps/admin/src/components/ui/field/FieldGroup.vue
  apps/admin/src/components/ui/field/FieldLabel.vue
  apps/admin/src/components/ui/field/FieldLegend.vue
  apps/admin/src/components/ui/field/FieldSeparator.vue
  apps/admin/src/components/ui/field/FieldSet.vue
  apps/admin/src/components/ui/field/FieldTitle.vue
  apps/admin/src/components/ui/field/index.ts
  apps/admin/src/components/ui/input/Input.vue
  apps/admin/src/components/ui/input/index.ts
  apps/admin/src/lib/utils.ts
  apps/admin/src/main.ts
  apps/admin/src/views/Dashboard.vue
  apps/admin/src/views/LoginView.vue
  apps/admin/vite.config.ts
  bun.lock
Due: format, lint

feat(admin): add ui components based on rekaui - vbutton, vcard, vavatar, vinput, vlabel, - reset.css - themes.css
  apps/admin/src/assets/index.css
  apps/admin/src/assets/theme.css
  apps/admin/src/components/ui/VAvatar.vue
  apps/admin/src/components/ui/VButton.vue
  apps/admin/src/components/ui/VCard.vue
  apps/admin/src/components/ui/VInput.vue
  apps/admin/src/components/ui/VLabel.vue
  apps/admin/src/components/ui/index.ts
Due: format, lint

docs(db): update table shema for event sourcing - change name of global_offset to sequence
  docs/db-architecture.md
Due: none

chore(lint): disable no-console inline
  apps/api/src/index.ts
  packages/db/src/migrate/cli.ts
  packages/db/src/seeds.ts
Due: format, lint

feat(db): add table migration for event sourcing - add events table (event store) - add snapshots table for faster aggregate rehydration - add sync_cursor to track event distribution across clients
  packages/db/migrations/20260127143813_event_sourcing.ts
Due: format, lint

feat(db): add missing indizes - index for session user - index for account user - index for all harbor roles - index for harbor members - index for members of org
  packages/db/migrations/20260127200523_add_missing_indexes.ts
Due: format, lint

chore: disable lint rule no-console for migration cli
  packages/db/src/migrate/cli.ts
Due: format, lint

feat(db): add types for event sourcing - type NewEvent - type StoredEvent - type Snapshot
  packages/db/src/event-store/types.ts
Due: format, lint

chore: add editor settings
  .oxfmtrc.jsonc
  .zed/settings.json
  oxlintrc.json
Due: format

chore: format db architecture
  docs/db-architecture.md
Due: none

feat(db): add function to add events into event_store
  packages/db/src/event-store/index.ts
Due: format, lint

feat(db): add function to get all events from event _store sorted asc
  packages/db/src/event-store/index.ts
  packages/db/src/event-store/types.ts
Due: format, lint

feat(db): add function to get all events from event store by event type
  packages/db/src/event-store/index.ts
Due: format, lint

refactor(db): add a mapping function and remove version filter from getEvents - fix typo in sql statement event_type instead of eventType
  packages/db/src/event-store/index.ts
Due: format, lint

fix(db): fix typo mistake in sql statements - event_type instead of eventType
  packages/db/src/event-store/index.ts
Due: format, lint

feat(db): implement snapshot functions for event sourcing - add type SnapshotRow for data mapping (snake_case to camelCase) - add function saveSnapshot - add function loadSnapshot
  packages/db/src/event-store/index.ts
  packages/db/src/event-store/types.ts
Due: format, lint
